.containerProjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;  
}

.project1{
    width: 400px;
}

.project2{
    width: 700px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}