
#text{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
}

.imglogominiNav{
    width: 100px;
}

.branchLine{
    width:50%;
}
.miniNavBarOpt{
   color:#8390c1;
}
.miniNavBarOpt{
    color:#8390c1;  
}
.miniNavBarOpt{
    color:#8390c1;
}

.miniNavBarOptOverview {
    color: #ae369aab ;
    margin:0;
}

.miniNavBarOptResume {
    color: #ae369aab ;

}

.miniNavBarOptProjects {
    color: #ae369aab ;
   
}

@media screen and (max-width: 400px) {
    #text{
        font-family: 'Amatic SC', cursive;
        font-size: 30px;
        font-weight: bold;
    }
    .branchLine{
        width:40%;
    }
}


