.navHomePage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Amatic SC', cursive;
    justify-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
   
}

#text{
    margin: 0;
}

.linkOptionsNav{
    color: rgb(112, 109, 105);
    text-decoration:none;
}

#overviewNav{
    grid-column: 2/3;
}

.linkOptionsNav:hover{
    color: #ffde59;
    font-size: 45px;
}


.greenBranch{
    width: 130%;
}
.greenBranch:hover{
    width: 128%;
}

@media screen and (min-width: 1800px) {
    .navHomePage{
        margin-top: 7%;
        font-size: 50px;
    }
}