.nav{ 
    text-align: center;
    opacity: 85%;
    padding: 1em;
    font-family: 'Spartan', sans-serif;
    background-color: #415164 ;
}

.textNavPrincipal{
    font-weight: bold;
    color:#ffff;
    font-size: 1.5em;
    margin: 0cm;
}



.textNavPrincipal:hover {
  color:#EFC228;
}

  

  @media screen and (max-width: 1000px) {
    .greenBranch{
        width: 120px;
    }

    .textNavPrincipal{
        font-size: 26px;
        
    }
  }

  @media screen and (max-width: 500px) {
    .greenBranch{
        width: 90px;
    }

    .textNavPrincipal{
        font-size: 18px;
    }
  }