.navHomePage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Amatic SC', cursive;
    justify-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    gap: 2em;
    
}

#text{
    margin: 0;
}

.linkOptionsNav{
    color: rgb(112, 109, 105);
    text-decoration:none;
}

#overviewNav{
    grid-column: 2/3;
}



.linkOptionsNav:hover{
    color: #ffde59;
    font-size: 45px;
}


.greenBranch{
    width: 130%;
}
.greenBranch:hover{
    width: 128%;
}

@media screen and (min-width: 1800px) {
    .navHomePage{
       
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    #text{
        font-size: 15px;
    }
    .greenBranch{
        width: 100%;
    }
    .navHomePage{
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
        
    }
    #projectsNav{
        grid-row: 1/2;
    }
}