/* en esta parte solo se acomoda para los estilos de la parte  web*/
.containerOverview{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 1.5fr .5fr;
    font-family: 'Quicksand', sans-serif;
    color:#545454 ;
   

}
.profilePhoto{
    align-self: center;
    justify-self: center;
    width: 95%;
}
.helloelevator{
    font-size: 4rem;
}

.textElevatorSpeach{
    font-size: 3rem;
    padding-right: 12%;
}

.aniqestionsText{
    color: #ec929a;
    font-size: 2.5rem;
}




/* POSICIONAMIENTO SOLO DE LOS ELEMENTOS EN LA GRILLA*/
.divProfilePhoto{
    grid-column: 1/2;
    grid-row: 1/3;
}

.textElevatorSpeach{
    text-align: justify;
    grid-column: 2/4;
    grid-row: 1/2;
}

.contactmeSocialNetworks{
    grid-column: 2/4;
    grid-row: 2/3;
}



/* en esta parte solo se acomoda el lugar de los elementos en la grilla para la parte movile*/

@media screen and (max-width: 400px) {
    .containerOverview{
        grid-template-rows: 1.3fr .7fr  .8fr  ;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        font-weight: bolder;
        
    }
    .profilePhoto{
        width: 240px;
        align-self: center;
        justify-self: center;
        grid-row: 1/2;
    }
    .textElevatorSpeach{
        grid-row: 2/3;
        padding-left: 10%;
        padding-right: 7%;
    }
    .textElevatorSpeach{
        font-size: 17px;
    }
    
    .helloelevator{
        font-size: 30px;
    }
    .contactmeSocialNetworks{
        grid-row: 3/4;
    }
   /* POSICIONAMIENTO DE LOS ELEMENTOS EN GRILLA MOVILE*/ 
    .divProfilePhoto{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .textElevatorSpeach{
        text-align: justify;
        justify-self: start;
        align-self: start;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    .contactmeSocialNetworks{
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: start;
    }
    .aniqestionsText{
        font-size: 14px;
    }

}