

/* en esta parte solo se acomoda para la parte de web*/
.principalHome{
    background: url(../../img/Background-Main-Page\ \(1000-650\).svg) no-repeat;
    background-size: cover;
    color: #ffff;
 
}

.principalHome{
    height: 100vh;
    width:100vw;
}

.ContainerMainPage{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr) .2fr;
}

.Karen-Ramirez-txt {
    text-align: left;
    padding-left: 6em;
    grid-column: 1/2;
    grid-row: 2/4;
}

.Karen-Ramirez-txt h1{
    font-family: 'Spartan', sans-serif;
    text-align: left;
    font-size: 4em;
}

.Karen-Ramirez-txt p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1em;
    padding-left: 1em;
}

.containerTazaAndElements{
    height: 10px;
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: center;
}


.Taza-Yellow{
    position: relative;
    width: 80%;
    text-align: center;
    z-index: 10;
}

.Taza-Yellow-img{
    width: 60%;
}

.click-to-discover-txt{
    position: relative;
    font-family: 'Spartan', sans-serif; 
    z-index: 30;
    left: 180px;
    bottom: 350px;
    width: 50%;
    font-size: 30px;
}
/* Media querys*/


 @media screen and (min-width: 1350px) {
    .principalHome{
        background: url(../../img/Background-Main-Page\ \(1350-650\).svg) no-repeat;
        background-size: cover;  
    }
   
    
    .Karen-Ramirez-txt h1{
        font-family: 'Spartan', sans-serif;
        text-align: left;
        font-size: 7em;
    }
    
    .Karen-Ramirez-txt h3{
        font-size: 3em;
        padding-left: .5em;
    }
  }


  @media screen and (max-width: 500px) {
    .greenBranch{
        width: 90px;
    }

    .textNavPrincipal{
        font-size: 18px;
    }
  }


