.principalHome{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0;
   
}

.logoprincipalHome{
  grid-column: span 2;
  z-index: 9;
}

.flowersLeft{
    justify-self: left;
}
.flowersRigth{
    margin-top: 10%;
    justify-self: right;
}

@media screen and (max-width: 1400px) {
    .ProfilePhoto{
        width: 440px;
    }
}

@media screen and (min-width: 1800px) {
    .ProfilePhoto{
        width: 700px;
    }
}